VITE_APP_URL_NAME=https://APM.com/$VITE_APP_PLATFORM_NAME/VITE_APP_HOSPITAL_NAME
VITE_APP_PLATFORM_NAME=Mandiri
VITE_APP_HOSPITAL_NAME=Primaya Tangerang
VITE_APP_API_HOST = https://dev-apem-api.sismedika.online/
